@model VismaUtvikler.Models.CustomerToType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CustomerToType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.FirmName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FirmName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerType.CustomerTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerType.CustomerTypeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
