@model IEnumerable<VismaUtvikler.Models.CustomerToType>

@{
    ViewBag.Title = "Forbindelser";
}

<h2>Kunde og type relasjon</h2>




<div id="selectDiv">
    <div class="col-md-6" >
        <label>Velg Kundetype og søk</label><br/>
        <div class="form-group" id="typeWaring">

            <select id="types" style="border-radius: 20px;height: 30px;width:120px">

                <option hidden>Kundetyper </option>
            </select>
         
        </div>
    </div>
</div>


<table id="helelisten"class="table table-sm">
    <thead>
    <tr>
        <th>Firmanavn</th>
        <th>Adresse</th>
        <th>Postnummer</th>
        <th>Telefon</th>
        <th>E-Mail</th>
     
    </tr>
    </thead>
    <tbody id="trettListe" >

    </tbody>
    <tfoot >
    <tr>
        <td ><a href='#' id="emptylist">Tøm listen</a></td>
    </tr>
    </tfoot>
</table>
<div id="mainContent">

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.FirmName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerType.CustomerTypeName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FirmName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerType.CustomerTypeName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

</table>
</div>
@section scripts{

    <script>
        $(document).ready(function () {

            var searchField;
            $("#helelisten").hide();

          
           
           
            ///Selectlist
            $.ajax({
                url: "/api/CustomerTypes",
                method: "GET",
                dataType: 'json'

            }).done(function (data) {
                responsedata = data;
                console.log("Lengden på response data ", responsedata.length)
                if (responsedata.length === 0) {

                    $("#typeWaring").html('');
                    $("#typeWaring")
                        .append(
                            "<div class='alert alert-warning' role='alert'>'<strong>'Advarsel'</strong>' Vi får ikke lastet kundetype data.</div>")

                } else {
                    console.log(data);
                    $.map(data,
                        function (post, i) {

                            $("#types").append(
                                "<option value=" + post.Id + ">" + post.CustomerTypeName + "</option>"
                            )

                        }
                    )
                }
            })

            ///Legg til ny kundetype
            //////////////////////////
            //skaffer verdien i  select listen

            $("#types").change(function () {
                var value = $("#types").val();

/////////////Skaffer data basert på selectlisten
                var inData;
                $.ajax({
                    url: "/api/Test/"+value,
                    method: "GET",
                    dataType: 'json'

                }).done(function (data) {
                    inData = data;
                    value = null;
                })
////////////////////////////////////////////////////////////////////////
                
                $("#search").keyup(function () {
                    //tømmer result tabel for innhold
                    $("#mainContent").hide();
                    //plasserer verdien i søkefeltet i searchField variablen
                     searchField = $("#search").val();

                    //lager en regular expressin variable

                     $("#helelisten").show();

                    var expression = new RegExp(searchField, "i");
                    console.log(inData);

                    $.each(inData,
                        function (key, value) {
                            console.log("Logg fra search value", value)
                            if (value.FirmName.search(expression) != -1 ||
                                value.Adress.search(expression) != -1 ||
                                value.MailAdress.search(expression) != -1 ||
                                value.PhoneNumber.search(expression) != -1) {
                                $("#trettListe").append("<tr><td>" +
                                    value.FirmName +
                                    "</td> " +
                                   " <td>" +
                                    value.Adress +
                                    "</td>" +
                                    
                                    "<td>" +
                                    value.PostalCode +
                                    "</td>" +
                                    "<td>" +
                                    value.PhoneNumber +
                                    "</td> " +
                                    "<td>" +
                                    value.MailAdress +
                                    "</td> <td> <a href='/customers/details/" +value.Id+"' >Detaljer</a></td>" +
                                "</tr>"
                                )
                            }
                        })
                   

                });

       /* $("#emptylist").on('click',function() {
            $("#trettListe").html('');
            searchField = null;
            value = null;

        })*/
        $("#emptylist").click(function () {
            $("#trettListe").html('');
            searchField = null;
            value = null;
            $("#helelisten").hide();
            $("#mainContent").show();
            $("#search").val(String.empty);;
        });

                ////////////////////<td></td><td></td><td></td><td></td><td></td></a><button class='btn-link js-Slett' data-customer-id=" +post.Id +"> <span class='glyphicon glyphicon-trash'></span></button></td>"
            });


        });
    </script>

}


