@model VismaUtvikler.ViewModels.CustomerViewModel

@{
    ViewBag.Title = Model.Customer.FirmName;
}


<div class="jumbotron">

    <p  id="detailHeading" class="lead">Firma opplysninger for <br /> @Model.Customer.FirmName</p>


    <div class="row">
        <div class="col-lg-3">
            <label>Adresse</label>
            <p class="lead">   @Model.Customer.Adress </p>
        </div>
        <div class="col-lg-3">
            <label>Postnummer</label>
            <p class="lead">  @Model.Customer.PostalCode </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <label>Telefon</label>
            <p class="lead"> @Model.Customer.PhoneNumber</p>
        </div>
        <div class="col-lg-3">
            <label>Faxnummer</label>
            <p class="lead">  @Model.Customer.FaxNumber </p>
</div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <label>E-mail</label>
            <p class="lead">   @Model.Customer.MailAdress</p>
        </div>

    </div>




</div>
<hr/>
<div id="customerType">
   
    <div class="row">
        <div class="col-md-6">
            <h4 id="kundetypeOversikt">Kundetype oversikt</h4><br/>
        </div>
        <div id="selectDiv">
            <div class="col-md-6" >
                <label>Legg til Kundetype</label><br/>
                <div class="form-group" id="Customertypes">

                    <select id="NewCustomerType">

                        <option hidden>Kundetyper </option>
                    </select>
                </div>
            </div>
        </div><br/>

    </div>
    <div id="displayTypes">  </div>
    <table id="typeList" class="table table-sm" >
        <thead>
        <tr>
            <th>Kundetype</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Slett</th>
        </tr>
        <tbody id="typeResult">
           

        </tbody>

    </table>
  

</div>

<hr/>
<h4>Kontakt Personer</h4>
<div id="contactPersonContent">
    <button class="btn"> @Html.ActionLink("Legg til ny Kontakt", "NyKontakt", new { id = Model.Customer.Id })</button>




    <div id="contactPersonWaring"></div>

    

    <table class="table table-sm" id="cpPerson">
        <thead>
            <tr>
                <th>Navn</th>
                <th>Adresse</th>
                <th>Postnummer</th>
                <th>telefon</th>

                <th>Mail adresse</th>
            </tr>
        </thead>
        <tbody id="result"></tbody>
        
    </table>


</div>
<p>
    @Html.ActionLink("Endre Kunde verdier", "Edit", new { id = Model.Customer.Id }) |
    @Html.ActionLink("Tilbake til kundelisten", "Index")
</p>
<input type="hidden" value=@Model.Customer.Id id='customerId'>


@section scripts{

    <script>
        $(document).ready(function() {
            var responsedata;
            var customerTypeList;

            var customerId = $('#customerId').val();


            $.ajax({
                url: "/api/ContactPersons/" + customerId,
                method: "GET",
                dataType: 'json'

            }).done(function(data) {
                responsedata = data;
                if (responsedata.length == 0) {
                 
                    $("#contactPersonWaring")
                        .append(
                            "<div class='alert alert-warning' role='alert'>'<strong>'Advarsel'</strong>' Det er ingen kontaktpersoner registret på denne kunden.</div>")

                } else {
                    console.log(data);
                    $("#contactPersonWaring").html('');
                    $.map(data,
                        function(post, i) {

                            $("#result").append(
                                "<tr class='clickable-row' data-href='#'>" +
                                "<td>" +
                                post.FirstName +
                                " " +
                                post.lastName +
                                "</td>" +
                                "<td>" +
                                post.Adress +
                                "</td><td>" +
                                post.PostalCode +
                                "</td>" +
                                "<td>" +
                                post.PhoneNumber +
                                "</td>" +
                                "<td>" +
                                post.MailAdress +
                                "</td>" +
                                "<td><a href='/CustomerContactPersons/Edit/" +
                                post.Id +
                                "'> <span class='glyphicon glyphicon-pencil'></span></a><button class='btn-link js-delete' data-customer-id=" +
                                post.Id +
                                ">| <span class='glyphicon glyphicon-trash'></span> </td>" +
                                " </tr>"
                            )
                        }
                    )
                }
            })


            $("#cpPerson").on("click",
                ".js-delete",
                function() {
                    var button = $(this);
                    //bootbx confirm er et alternativ til vanlig confirmbox
                    bootbox.confirm("Er du sikker på at du vil slette denne kontaktpersonen?",
                        function(result) {
                            if (result) {

                                $.ajax({
                                    url: "/api/ContactPersons/" + button.attr("data-customer-id"),
                                    method: "DELETE",
                                    success: function() {
                                        console.log("Kontaktpersonen er slettet success!!");
                                        button.parents("tr").remove();
                                        var index=responsedata.Id.indexOf( button.attr("data-customer-id"))
                                        responsedata.Splice(index, 1);

                                    }
                                })

                            }
                        })

                })
            $("#search").keyup(function() {
                //tømmer result tabel for innhold
                $("#result").html('');
                //plasserer verdien i søkefeltet i searchField variablen
                var searchField = $("#search").val();

                //lager en regular expressin variable
                var expression = new RegExp(searchField, "i");
                console.log(responsedata);

                $.each(responsedata,
                    function(key, value) {
                        console.log("Logg fra search value", value)
                        if (value.FirstName.search(expression) != -1 ||
                            value.lastName.search(expression) != -1 ||
                            value.MailAdress.search(expression) != -1 ||
                            value.Adress.search(expression) != -1) {
                            $("#result").append("<tr><td>" +
                                value.FirstName +
                                " " +
                                value.lastName +
                                "</td>" +
                                "<td>" +
                                value.Adress +
                                "</td><td>" +
                                value.PostalCode +
                                "</td>" +
                                "<td>" +
                                value.PhoneNumber +
                                "</td> " +
                                "<td>" +
                                value.MailAdress +
                                "</td> <td>" +
                                "<a href='/CustomerContactPersons/Edit/" +
                                value.Id +
                                "'><span class='glyphicon glyphicon-pencil'></span> " +
                                "</a><button class='btn-link js-delete' data-customer-id=" +
                                value.Id +
                                ">| <span class='glyphicon glyphicon-trash'></span></button>" +
                                "</tr>")
                        }
                    })

            });
            ////KundeType
            console.log("KundeId=", customerId);
            $.ajax({
                url: "/api/CustomerToTypes/" + customerId,
                method: "GET",
                dataType: 'json'

            }).done(function(data) {

                customerTypeList = data;
                console.log("customerTypeList ", customerTypeList);
                if (customerTypeList.length < 1) {
                    $("#displayTypes").html('');
                    $("#displayTypes")
                        .append(
                            "<div class='alert alert-danger' role='alert'>'<strong>'   Advarsel   '</strong>'      Det er ingen registrerte kundetyper på denne kunden.</div>")

                } else {
                    console.log(data);
                    $.map(data,
                        function(post, i) {
                            $("#displayTypes").html('');
                           
                            $("#typeList").append("<tr><td>" + post.CustomerTypeName + " </td><td></td><td></td><td></td><td></td><td><button class='btn btn-link js-Slett' data-customer-id="+post.Id+"><span class='glyphicon glyphicon-trash'></span></button></td>" +
                                "</tr>"
                                )
                        }
                    )
                }
            })
            ///Selectlist
            $.ajax({
                url: "/api/CustomerTypes",
                method: "GET",
                dataType: 'json'

            }).done(function(data) {
                responsedata = data;
                console.log("Lengden på response data ", responsedata.length)
                if (responsedata.length === 0) {

                    $("#Customertypes").html('');
                    $("#Customertypes")
                        .append(
                            "<div class='alert alert-warning' role='alert'>'<strong>'Advarsel'</strong>' Vi får ikke lastet kundetype data.</div>")

                } else {
                    console.log(data);
                    $.map(data,
                        function(post, i) {

                            $("#NewCustomerType").append(
                                "<option value=" + post.Id + ">" + post.CustomerTypeName + "</option>"
                            )

                        }
                    )
                }
            })

            ///Legg til ny kundetype


            $("#NewCustomerType").change(function() {
                var value = $("#NewCustomerType").val();


                ///legger til i databsaen
                $.ajax({
                    type: "POST",
                    url: "/CustomerToTypes/AddOne",
                    data: { CustomerId: customerId, CustomerTypeId: value },
                    dataType: "json",
                    success: function(result) {

                        if (result.IsAdded) {

                            addToList();
                            toastr.success("Kundetypen er lagt til kunden ")
                            $("#displayTypes").html('');
                        } else {
                            bootbox.alert("Denne kundetypen er allerede registret for denne kunden!");

                        }
                    },
                    error: function(xhr, status, error) {
                        alert("Her er noe galt ", xhr, status)
                    }

                })


                //Sletter en av listen

                $("#typeList").on("click",
                    ".js-Slett",
                    function() {
                        var button = $(this);
                      
                        //bootbx confirm er et alternativ til vanlig confirmbox
                        bootbox.confirm("Er du sikker på at du vil slette denne Kundetypen fra kunden?",
                            function(result) {
                                if (result) {

                                    $.ajax({
                                        url: "api/CustomerToTypes/" + button.attr("data-customer-id"),
                                        method: "DELETE",
                                        success: function() {
                                           toastr.succes("Kundetypen er slettet er slettet !!");
                                            button.parents("tr").remove();
                                           

                                        },error:function() {
                                            bootbox.alert("En feil har oppstått Prøv igjen senere, ")
                                        }
                                    })

                                }
                            })

                    })

               


                ///Legger til den ny på lista


                function addToList() {
                    

                    $.ajax({
                        url: "/api/CustomerTypes/" + value,
                        method: "GET",
                        dataType: 'json'

                    }).done(function(data) {
                        var customerType = data;

                        if (customerType.length === 0) {

                            bootbox.alert("Vi får ikke lastet opp data ")

                        } else {
                          

                            $("#typeList").append("<tr><td>" + data.CustomerTypeName + " </td><td></td><td></td><td></td><td></td><td><button class='btn btn-link js-Slett' data-customer-id="+data.Id+"><span class='glyphicon glyphicon-trash'></span></button></td>" +
                                "</tr>")


                        }
                    })
                }

                ////////////////////<td></td><td></td><td></td><td></td><td></td></a><button class='btn-link js-Slett' data-customer-id=" +post.Id +"> <span class='glyphicon glyphicon-trash'></span></button></td>"
            });


        });
    </script>

}
